{{ define "main" }}
<main aria-role="main">
  <!-- <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header> -->
  <div class="homepage-content">

      <div class="row">
        <div class="col-md-3">
	        <div class="photo">
          <a href="headshot.jpg"></a>
	        <img id="picture" src="headshot.jpeg" style="max-height:250px" class="img-responsive"/>
	        </div>
	      </div>
        <div class="col-md-7">
          <!-- <div class="clearfix visible-xs-block"></div> -->
          <h2>Shuyao Li<span style="font-family:STFangsong; font-size:20pt"> (李书尧)</span></h2>
          <!-- <div id="pronounceLink" style="display:block;"><p><a href="#" onclick="$('#pronounce').toggle(); return false;"><i>How to pronounce?</i></a></p></div>
          <div id="pronounce" style="display:none;" class="alert">
            <p> My name can be pronounced as "":</p>
              <br>
                  <audio controls="controls" controlslist="nodownload">
                      <source src="audio/name.m4a" type="audio/mpeg">
                  </audio>
          </div> -->
          <p>
            PhD Student <br>
            Department of Computer Sciences<br>
            University of Wisconsin, Madison
          </p>
          <p>
          Email: <tt>
<span id="email-placeholder">Email me</span>
<script>
  document.addEventListener('DOMContentLoaded', (event) => { function
    decodeEntities(encodedString) { var textArea =
    document.createElement('textarea'); textArea.innerHTML = encodedString;
    return textArea.value; }
    
    var user =
    decodeEntities('&#115;&#104;&#117;&#121;&#97;&#111;&#46;&#108;&#105;'); var
    domain = decodeEntities('&#119;&#105;&#115;&#99;&#46;&#101;&#100;&#117;');
    var element = document.getElementById('email-placeholder');
    element.textContent = user + '@' + domain; });
</script>
</tt>
          </p>
	      </div>
      </div>

        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>

</main>
{{ end }}

